<div class="container">
  <h1>Usuarios</h1>
  <mat-list>
    <mat-list-item *ngFor="let user of users">
      <mat-icon matListIcon>account_circle</mat-icon>
      <a matLine (click)="openDialog(user.id)"> {{user.name}} </a>
      <mat-button-toggle-group>
        <mat-button-toggle [routerLink]="['/users', user.id, 'posts']">Posteos</mat-button-toggle>
        <mat-button-toggle [routerLink]="['/users', user.id, 'albums']">Álbumes</mat-button-toggle>
        <mat-button-toggle [routerLink]="['/users', user.id, 'todos']">TODOs</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-divider></mat-divider>
         
    </mat-list-item>
  </mat-list>
</div>